body {
    background-color: gainsboro;
}

#box1 {
    height: 130px;
    width: 500vw;
    position: absolute;
    background-color: #565656;
    right:0px;
    left: 0px;
    top: 0px;
   


}



#box2{
    background-color: whitesmoke;

    width: 1200px;
    height: 1000px;
    margin-left: auto;
    margin-right: auto;
       
}

footer {
    background-color:#272727;
    margin-bottom:0px;
    height: 90px;
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
}